.header{
  display: flex;
  flex-direction: row ;
  height: 55px;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  right: 0px;
  height: 55px;
  top: 0px;
  /* justify content helps you to put the flex box in the middle*/
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(191, 190, 190) ;
  z-index: 100;
}

.left-section{
  width: 150px;
  align-items: center;  /* works on only flex display so i had to make the dispaly a flex so that it will not be just up inside the header flex*/
  display: flex;

}
.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 500px; /* sets a max for the middle section when the browser expands and retracts*/
    display: flex;
  align-items: center;
}

.right-section{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;

}

/*
justify center moves the full num of flex boxes while align items moves items inside the html */
.youtube-logo{
  height: 20px;
}

.hamburger-menu{
      height: 24px;    
      margin-right: 20px;            
      margin-left: 24px;
}

.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(242, 232, 232);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(242, 232, 232);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.search-button .tooltip{
  position:absolute ;
  background-color: gray;
  color: white;
  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-radius: 2px;
  font: 12px;
  bottom: -30px;
  right: -10px;
  opacity: 0;
    transition: opacity 0.8s;
    pointer-events: none;
}

.search-button:hover .tooltip{
  opacity: 1;

}
.search-bar{
  flex: 1;
  height: 36px;
  font-size: 14px; 
   padding-left: 12px;
   border-style: solid;
   border-width: 1px;
   border-color: rgb(192, 192, 192);
   box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
   width: 0;
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-icon{
  height:  35px;
  width: 35px;
  margin-top: 2px;
}

.voice-button{
 height: 40px;
 width: 40px;
 border-radius: 20px;
  margin-left: 15px;
  border:  none;
  background-color: rgb(227, 218, 218);
  position: relative;
  cursor: pointer;
}

.voice-button .tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  opacity:0;
  transition: opacity 0.4s;
  pointer-events: none;
  white-space: nowrap;
}

.voice-button:hover .tooltip{
  opacity: 1;
}

.voice-icon{
  height: 24px;
  margin-top: 4px;
}

.upload{
  height: 24px;
}


.upload-container .tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  justify-content: center;



}
.apps{
  height: 24px;
}

.notifications{
  height: 24px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-counter{  
  position: absolute; /* absolutely inside the relative*/
  top: -3px;
  right: -3px;
  background-color: red;
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
    border-radius: 10px;

}

.current-user-picture{
  height: 24px;
  border-radius: 16px
}
